.container {
  display: grid;
  height: 100vh;
  place-items: center;
}
.main {
  background: var(--white);
  border-radius: 0.6rem;
  box-shadow: var(--shadow-primary);
  height: 100%;
  width: 100%;
}
@media (min-width: 520px) {
  .main {
    height: 90vh;
    width: 520px;
  }
}
