.container {
  border-bottom: 1px solid #ccc;
  display: flex;
  padding: 0.5rem 0.7rem;
}
.avatar {
  margin-right: 0.5rem;
}
.text span {
  display: flex;
  margin-bottom: 0.5rem;
}
.username {
  color: var(--text-dark);
  font-size: var(--text-base);
  font-weight: var(--font-semibold);
  margin-right: 0.5rem;
}
.createdAt {
  align-self: center;
  color: var(--text-darkgray);
  font-size: var(--text-sm);
}
.content {
  color: var(--text-dark);
  line-height: var(--post-lineheight);
  font-weight: var(--font-normal);
}
